<ion-nav-bar class="bar royal">
	<ion-nav-buttons
	<ion-nav-title align-title="center" id="nav-title"><strong>TTT</strong></ion-nav-title>
</ion-nav-bar>
<ion-content>
	<ion-slide-box on-slide-changed="slideHasChanged($index)">
		<ion-slide>
			<div class="box purple"><h1>Welcome to TTT!</h1><p>TTT is a companion app for playing a real-life game of Trouble in Terrorist Town with your friends. Simply join a friend's room, wait for everyone else to join, and press play!</p></div>
		</ion-slide>
		<ion-slide>
			<div class="box purple"><h1>How to Play</h1></div>
		</ion-slide>
	</ion-slide-box>
</ion-content>