<ion-modal-view>
	<ion-header-bar>
		<h1 class = "title">Create a Room</h1>
		<button class = "button button-clear button-primary" ng-click = "closeModal()">Close</button>
	</ion-header-bar>

	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
					<span class="input-label">Room Name</span>
					<input id="roomNameToCreate" ng-model="roomNameToCreate" type="text">
			</label>
			<button class="button button-full button-positive" ng-click="submitRoom()">Create</button>
		</div>

	</ion-content>
</ion-modal-view>