<ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-chevron-left button-clear button-dark" menu-toggle="left" ng-click="myGoBack()">
      </button>
    </ion-nav-buttons>
    <ion-nav-title><strong>TTT</strong></ion-nav-title>
</ion-nav-bar>
  <ion-content id="main-content" class="has-header" scroll="false">
         <div id="roomtitle"><h1>{{room.name}}</h1></div>
          <div class="list card">
            <div class="item item-divider">
              Users in Room:
            </div>
            <div class="item item-text-wrap" ng-repeat="player in players">
              {{players.player}}
            </div>
          </div>
            <div id="message-list">
               <p ng-repeat="message in messages">
                  <strong>{{message.username}}</strong> {{message.message}}
               </p> 
            </div>
  </ion-content>
  <ion-footer-bar id="footer-bar-room" align-title="left" class="bar-strong">
    <textarea id="messageToSend" ng-model="messageToSend"></textarea>
    <div class="send-button" ng-click="sendMessage()">Send</div>
</ion-footer-bar>