<ion-nav-bar class="bar-royal">
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-chevron-left button-clear button-dark" menu-toggle="left" ng-click="myGoBack()">
      </button>
    </ion-nav-buttons>
    <ion-nav-title align-title="center" id="nav-title"><strong>TTT</strong></ion-nav-title>
    <div id="subheader" class="bar bar-subheader bar-calm" text-align="center" align-title="center">{{room.name}}</div>
</ion-nav-bar>

  <ion-content id="main-content" class="has-header has-subheader" scroll="false">
         
          <div class="list card">
            <div class="item item-divider">
              Users in Room:
            </div>
            <div class="item item-text-wrap" ng-repeat="username in players">
              {{username.username}}
            </div>
          </div>
            <!--<ion-scroll direction="y">-->
            <div id="message-list">
               <p ng-repeat="message in messages | limitTo: -5">
                  <strong>{{message.username}}</strong> {{message.message}}
               </p> 
            </div>
          <!--</ion-scroll>-->
  </ion-content>
  <ion-footer-bar id="footer-bar-room" class="bar bar-footer bar-clear" align-title="left" padding="true" class="bar-strong">
    <textarea id="messageToSend" ng-model="messageToSend"></textarea>
    <button id="send-button" class="button button-light" ng-click="sendMessage()">SEDEDED</button>
    <button id="start-game" class="button button-block button-royal" ng-click="startGame()">Start Game</button>
</ion-footer-bar>