<ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-chevron-left button-clear button-dark" menu-toggle="left" ng-click="myGoBack()">
      </button>
    </ion-nav-buttons>
    <ion-nav-title><strong>TTT</strong></ion-nav-title>
</ion-nav-bar>
  <ion-content id="main-content" class="has-header" scroll="false">
         <div id="roomtitle"><h1>{{room.name}}</h1></div>
          <div class="list card">
            <div class="item item-divider">
              Users in Room:
            </div>
            <div class="item item-text-wrap" ng-repeat="username in players">
              {{username.username}}
            </div>
          </div>
            <ion-scroll direction="y">
            <div id="message-list">
               <p ng-repeat="message in messages">
                  <strong>{{message.username}}</strong> {{message.message}}
               </p> 
            </div>
          </ion-scroll>
  </ion-content>
  <ion-footer-bar id="footer-bar-room" align-title="left" padding="true" class="bar-strong">
    <textarea id="messageToSend" ng-model="messageToSend"></textarea>
    <button id="send-button" class="button button-light" ng-click="sendMessage()">Send</button>
    <button id="start-game" class="button button-block button-royal" padding="true" ng-click="showTraitor()">Start Game</button>
</ion-footer-bar>