body {
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
        height:100%;

    }
    .container {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #myCanvas {
        display: block;
        padding: 0;
        margin: 0 auto;

        background-color:grey;
    }

    @media(max-width:1600px) {
        .container {
            margin: 0 50px;
        }
        #myCanvas {
            width: 100%;
            height: 100%;
            background-color:grey;
        }
    }