
html{
	font-family:"Ionicons", arial;
}

#title{

	color:#9C27B0;

}

#main-content{
	bottom: 100px;
	padding: 10px;
}


#room-list{

	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.message-date{
	font-size: 10px;
	color: gray;
}


#roomNameToCreate{
	width: 80%;
	height: 20px;
	margin-top: 7px;
	color: black;
	resize: none;
}

#messageToSend{
	width:80%;
	margin-top:10px;

}

#send-button{
	width: 18%;
	text-align: center;
	font-size:15px;
	margin-top:50px;
}

.room-item{
	text-align: center;
}

#roomtitle{
	background-color: #8a6de9;
	color: white;

	width: 100%;
	margin-top:-10px;
	margin-left:-10px;
}


#send-room{

	font-size: 10px;
}

.full-width{
	width:100%;
}

#modal-button{
	margin-top:1px;
}

#start-game{
	width:75%;
	margin-top:-15px;
	margin-bottom:1px;
	margin-left:-3px;
	margin-right:43px;
	padding-top:-2px;
}

#subheader{
	height:4.5%;
	padding: 5px;
	text-align: center;
	color:white;
	background-color:#E53935;
}

#nav-title{
	text-align:center;
}

#rooms-title{
	text-align:center;
}

#people{
	font-size:15px;
	margin:1px;
}

#minus-button,
#minus-button:before{
	font-size:19px !important;
	padding-right:129.5px;
	side:right;
}

#info,
#info:before{
	font-size:20px !important;
}

#info-submit{
	height:10%;

}

#play-button{
	width:60%;
	margin-top:40px;
	margin-left: 18%;
}

#right-button{
	margin-top:53%;
	margin-left:90%;
}

#credit{
	margin-top:80%;
}

/*progress time text on middle of circle*/

.progress-wrapper {
  position: relative;
  margin: 20px auto;
  font-size: 21px;
}

.progress {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 9em;
  font-size: 1em;
  text-align: center;
  font-weight: 100;
}
