<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.ttt319499" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>TTT</name>
  <description>
        A role-assigner app for real-life Trouble in Terrorist Town. 
    </description>
  <author email="luke.igel@gmail.com" href="http://github.com/dukeeagle/">
      Luke Igel
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="http://*/*" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>